.checkout-background {
  background-color: #f1f1f1;
  padding: 5rem 5vw;
}

.checkout h1 {
  text-transform: uppercase;
  font-size: 2rem;
}
.checkout p {
  color: #df7c39d2;
  margin-top: 3rem;
  font-weight: 700;
}
.checkout fieldset {
  float: left;
  background-color: #fff;
  padding: 3rem;
  border-radius: 0.5rem;
  border: none;
  width: 60vw;
}
.billing-details,
.shipping-info,
.payment-details,
.e-money {
  display: grid;
  grid-gap: 1rem;
  grid-template: 1fr 1fr / auto auto;
}
.e-money {
  margin-top: 3rem;
}
.checkout label {
  font-weight: 700;
}
.billing-details input,
.shipping-info input,
.border,
.e-money input {
  display: block;
  border-radius: 0.5rem;
  border: 0.1rem solid #0000004f;
  width: 100%;
  line-height: 3rem;
  padding-left: 2rem;
}
.flex-container-desktop .shipping-info label:first-child,
.flex-container-tablet .shipping-info label:first-child {
  grid-column: 1 / span 2;
}
.flex-container-desktop .payment-details label:nth-child(3),
.flex-container-tablet .payment-details label:nth-child(3) {
  grid-column: 2 / span 1;
}
.payment-details input {
  margin-right: 1rem;
}

.payment-details input {
  appearance: none;
  border-radius: 50%;
  outline: 1px solid #c9c8c8;
  outline-offset: 0.2rem;
  width: 0.5rem;
  height: 0.5rem;
}
.payment-details input:checked {
  background: #df7c39d2;
}

.border-checked {
  border: 0.1rem solid #df7c39d2;
}
.summary {
  background-color: #fff;
  border-radius: 0.5rem;
  width: calc(10vw + 10rem);
  min-height: 31rem;
  text-transform: uppercase;
  padding: 1.5rem;
}
.checkout-background .flex-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
.summary-total section:nth-child(2) p {
  color: black;
}
.summary-total p {
  color: #19191967;
  font-weight: 700;
}
.summary .btn {
  width: 100%;
}
.summary-total {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.checkout-background .flex-container-tablet,
.checkout-background .flex-container-mobile {
  flex-flow: column nowrap;
  align-items: center;
}
.flex-container-tablet .summary,
.flex-container-tablet .checkout fieldset,
.flex-container-mobile .summary,
.flex-container-mobile .checkout fieldset {
  margin: 2rem 0;
  width: 80vw;
}

.flex-container-mobile .billing-details,
.flex-container-mobile .shipping-info,
.flex-container-mobile .payment-details,
.flex-container-mobile .e-money {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
}
