footer {
  background-color: #101010;
  min-height: 20rem;
  overflow: hidden;
  padding: 3rem 10vw 0rem 10vw;
}

footer > nav {
  float: right;
  font-size: 0.8rem;
  width: 25rem;
}
footer > p {
  margin-top: 4rem;
  font-weight: 300;
  color: #ffffff64;
  font-family: "Mukta", sans-serif;
  width: 33rem;
  line-height: 1.3rem;
  overflow: hidden;
}

footer a {
  text-transform: uppercase;
  float: right;
  margin-left: 0.8rem;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  color: #ffffffb3;
}
footer .brand {
  float: left;
}
.footer-mobile,
.footer-mobile nav {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer-mobile nav > a {
  display: block;
  float: none;
  margin-top: 1rem;
}
.footer-mobile p {
  width: 100%;
}
.footer-mobile p {
  margin-top: 2rem;
}
.footer-mobile section {
  margin: 2rem;
}
