.gear {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
}
.gear span {
  color: #ca8d6a;
}
.gear h1 {
  overflow: hidden;
  margin-top: 8rem;
  font-weight: 700;
  font-size: 3rem;
  line-height: 2.8rem;
  width: 28rem;
}
.gear p {
  margin-top: 2rem;
  color: #414141;
  width: 26rem;
}
.gear img {
  border-radius: 1rem;
  width: calc(40vw - 2rem);
}
