.product {
  padding: 4rem 10vw 8rem 10vw;
}
.product .flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.ndpc-desktop {
  width: 50%;
  overflow-y: hidden;
}
.ndpc-tablet {
  width: 50%;
}
.ndpc-mobile {
  width: 100%;
  margin-top: 1rem;
}
.name {
  text-transform: uppercase;
  overflow-y: hidden;
  font-size: 3rem;
  font-weight: 700;
  line-height: 2.8rem;
  letter-spacing: 0.2rem;
}
.ndpc-mobile .name {
  font-size: 2rem;
}

.new {
  content: "NEW PRODUCT";
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.5rem;
  color: #ee8f5cbd;
}

.description {
  margin: 2rem 0rem;
  color: #a6a6a6;
  font-size: 1.1rem;
}

.product .price {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.product .counter {
  float: left;
  width: 7rem;
  line-height: 2.5rem;
  padding: 0px 20px;
  background-color: #f1f1f1;
  color: #a6a6a6;
  font-size: 1.2rem;
}
.decrease,
.increase:hover {
  cursor: pointer;
}

.add-to-cart-btn {
  margin-left: 1rem;
  float: left;
  background-color: #ee8f5c;
  line-height: 2.5rem;
  text-transform: uppercase;
  padding: 0px 30px;
  color: #fff;
}
.add-to-cart-btn:hover {
  cursor: pointer;
  transition: 0.3s;
  background-color: #ee7433;
}
.features {
  margin: 8rem 0;
}
.features-desktop {
  float: left;
  width: 60%;
}
.features-tablet {
  width: 100%;
}
.in-the-box {
  margin: 8rem 0;
}
.features h2,
.in-the-box h2 {
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}
.features p,
.in-the-box .item {
  font-size: 1.2rem;
  white-space: pre-wrap;
  color: #a6a6a6;
}
.in-the-box .quantity {
  color: #ee8f5c;
  font-weight: 700;
}
.in-the-box-desktop {
  float: right;
}
.in-the-box-tablet {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.gallery {
  clear: both;
  display: grid;
  grid-gap: 20px;
  width: 80vw;
  align-items: center;
}

.gallery img {
  border-radius: 10px;
}
#first {
  width: 100%;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
#second {
  width: 100%;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}
#third {
  width: 100%;
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
}
.product-image-desktop {
  width: 40%;
}
.product-image-tablet {
  width: 40%;
}
.gallery-mobile {
  display: block;
}
.gallery-mobile img {
  margin-top: 1rem;
}
